{{- if .Values.redis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ include "liquio.namespace" . }}
  name: {{ include "liquio.fullname" . }}-redis
  labels:
    {{- include "liquio.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
    app.kubernetes.io/tier: infrastructure
    app.kubernetes.io/exposure: internal
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "liquio.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: redis
  template:
    metadata:
      labels:
        {{- include "liquio.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: redis
        app.kubernetes.io/tier: infrastructure
        app.kubernetes.io/exposure: internal
    spec:
      containers:
        - name: redis
          image: redis:7
          imagePullPolicy: IfNotPresent
          ports:
            - name: redis
              containerPort: 6379
              protocol: TCP
          volumeMounts:
            - name: redis-data
              mountPath: /data
            - name: tmp
              mountPath: /tmp
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: redis-data
          emptyDir: {}
        - name: tmp
          emptyDir: {}
{{- end }}
