<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="google" content="notranslate" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title></title>
</head>

<body spellcheck="true">
  <noscript>
    Вам потрібно ввімкнути JavaScript для запуску цієї сторінки.
  </noscript>
  <div id="root"></div>
  <script type="module" src="/src/index.ts"></script>
</body>

</html>