
html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: #F8FAFC;
}

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}