<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Storage</title>
</head>

<body style="font: 400 14px/1.6 'Open Sans',sans-serif; color: #333;">
  <div class="box" style="margin: 30px; padding: 10px; border: 1px solid #bbb;">
    <div class="box-head">
      <h1>File Storage</h1>
    </div>
    <div class="box-content">
      <p>
        <a href="/swagger">Swagger</a> - API endpoints specification.
      </p>
    </div>
  </div>
</body>

</html>