definitions:
  steps:
    - step: &mirror
        image:
          name: harbor.kitsoft.kiev.ua/proxy_cache/alpine/git:latest
          username: $HARBOR_PROXY_CACHE_USERNAME
          password: $HARBOR_PROXY_CACHE_PASSWORD
        runs-on:
        - hetznerstg
        name: Mirror to GitLab
        script:
        - echo "10.20.0.50 gitlab.kitsoft.ua" >> /etc/hosts
        - git remote add gitlab-kitsoft https://oauth2:$GITLAB_TOKEN_KITSOFT_BPMN@gitlab.kitsoft.ua/bpmn/$BITBUCKET_REPO_SLUG.git
        - git push --force --all gitlab-kitsoft
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$GITLAB_SSH_KEY" | base64 -d)
        - git remote add gitlab-diia git@gitlab.diia.org.ua:kitsoft/bpmn/pdf-generator.git
        - git push --force --all gitlab-diia

clone:
  depth: full

pipelines:
  branches:
    '{test,prod,dev}':
      - step: *mirror